
<%= link_to "Ajouter la vidéo de ma visite", edit_tour_path(@tour) %>


<% @paintings.each do |p| %>
  <div>
   <p><%= p.title %></p>
   <p><%= p.artist %></p>
   <%= cl_image_tag p.photo.key, height: 500, width: 600, crop: :fill %>
   <%= link_to "select", painting_path(p) %>
  </div>
<% end %>

