


<div class="container">
  <div class="row">
    <div class="col col-lg-9">
        <h1><%= @tour.title %></h1>
        <p><%= @tour.description %></p>
        <p><%= @tour.duration %> mins </p>
        <%= cl_image_tag @tour.tour_paintings.first.video.key, height: 150, width: 200 %>

        <div id="carouselExampleControls" class="carousel slide" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active" >
              <%= cl_image_tag @first_painting.photo.key, height: 500, width: 855, crop: :fill %>
              <div>
                #video
              </div>
            </div>

          <% @tour.paintings.drop(1).each do |painting| %>
            <div class="carousel-item">
              <%= cl_image_tag painting.photo.key, height: 500, width: 855, crop: :fill %>
              <div>
              </div>
            </div>
           <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col col-lg-3">
      <div class="guide profil">
        <h3> <%= @tour.user.first_name %> <%= @tour.user.last_name %></h3>
        <p> <%= @tour.user.description %> </p>
      </div>
      <div>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col">
      <% @tour.paintings.each do |painting| %>
      <%= cl_image_tag painting.photo.key, height: 150, width: 200, crop: :fill  %>
      <% end %>
    </div>
  </div>
</div>
<p> <%= link_to "Sign-out", destroy_user_session_path, method: :delete %></p>

